#services {
  background-color: $primary-color;
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  color: $white-color;
  font-weight: 700;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding-bottom: 10%;
  position: relative;
  z-index: 2;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }
  .serviceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    flex-wrap: wrap;

    .serviceCard {
      position: relative;
      min-width: 320px;
      height: 440px;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset 5px 5px 5px rgba(255, 255, 255, 0.05),
        5px 5px 5px rgba(0, 0, 0, 0.05), 5px 5px 5px rgba(255, 255, 255, 0.05);
      border-radius: 15px;
      margin: 15px;

      .serviceBox {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #ebf5fc;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        .serviceContent {
          padding: 20px;
          text-align: center;

          h3 {
            font-size: 1.8em;
            font-weight: 700;
            color: #777;
            z-index: 1;
            transition: 0.5s;
            padding-bottom: 20px;
          }

          p {
            font-size: 1.2em;
            font-weight: 300;
            color: #777;
            z-index: 1;
            transition: 0.5s;
          }

          a {
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            background: $primary-color;
            margin-top: 15px;
            border-radius: 20px;
            color: #fff;
            text-decoration: none;
            font-weight: 400;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transition: 0.5s;

            &:hover {
              background: #02aab091;
            }
          }
        }
      }
      &:hover {
        .serviceBox {
          transform: translateY(-50px);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
          background: linear-gradient(45deg, #1900ffa9, transparent);
          a {
            color: $white-color;
          }
          h3 {
            color: $white-color;
          }
          p {
            color: $white-color;
          }
        }
      }
    }
  }
}
